---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: attachdefinitions.cni.linkerd.io
spec:
  group: cni.linkerd.io
  names:
    kind: AttachDefinition
    listKind: AttachDefinitionList
    plural: attachdefinitions
    singular: attachdefinition
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: AttachDefinition is the Schema for the attachdefinitions API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AttachDefinitionSpec defines the desired state of AttachDefinition
            properties:
              createMultusNetworkAttachmentDefinition:
                default: true
                description: CreateMultusNetworkAttachmentDefinition if set, then
                  the controller will generate a k8s.cni.cncf.io/v1 NetworkAttachmentDefinition
                  to trigger Multus to call Linkerd CNI on a Pod start.
                type: boolean
              proxyConfig:
                description: ProxyConfig configures Proxy via annotations. Further
                  below in comments are the annotations which will be added to a Pod.
                  https://linkerd.io/2.11/reference/proxy-configuration/ .
                properties:
                  inboundPort:
                    description: // config.linkerd.io/admin-port. AdminPort Port `json:"adminPort,omitempty"
                      yaml:"adminPort,omitempty"` // config.linkerd.io/control-port.
                      ControlPort Port `json:"controlPort,omitempty" yaml:"controlPort,omitempty"`
                      config.linkerd.io/inbound-port.
                    maximum: 65535
                    minimum: 0
                    type: integer
                  logLevel:
                    description: // +kubebuilder:validation:Enum=plain;json // config.linkerd.io/proxy-log-format.
                      LogFormat string `json:"logFormat,omitempty" yaml:"logFormat,omitempty"`
                      config.linkerd.io/proxy-log-level.
                    type: string
                  outboundPort:
                    description: config.linkerd.io/outbound-port.
                    maximum: 65535
                    minimum: 0
                    type: integer
                  proxyUID:
                    description: config.linkerd.io/proxy-version.
                    format: int32
                    type: integer
                  skipInboundPorts:
                    description: // config.linkerd.io/opaque-ports. OpaquePorts []Ports
                      `json:"opaquePorts,omitempty" yaml:"opaquePorts,omitempty"`
                      config.linkerd.io/skip-inbound-ports.
                    items:
                      description: Ports defines ports of port ranges for Linkerd
                        Proxy.
                      properties:
                        port:
                          description: Port used to define network port annotations
                            at one place.
                          maximum: 65535
                          minimum: 0
                          type: integer
                        range:
                          pattern: ^((6553[0-5])|(655[0-2][0-9])|(65[0-4][0-9]{2})|(6[0-4][0-9]{3})|([1-5][0-9]{4})|([0-5]{0,5})|([0-9]{1,4}))-((6553[0-5])|(655[0-2][0-9])|(65[0-4][0-9]{2})|(6[0-4][0-9]{3})|([1-5][0-9]{4})|([0-5]{0,5})|([0-9]{1,4}))$
                          type: string
                      type: object
                    type: array
                  skipOutboundPorts:
                    description: config.linkerd.io/skip-outbound-ports.
                    items:
                      description: Ports defines ports of port ranges for Linkerd
                        Proxy.
                      properties:
                        port:
                          description: Port used to define network port annotations
                            at one place.
                          maximum: 65535
                          minimum: 0
                          type: integer
                        range:
                          pattern: ^((6553[0-5])|(655[0-2][0-9])|(65[0-4][0-9]{2})|(6[0-4][0-9]{3})|([1-5][0-9]{4})|([0-5]{0,5})|([0-9]{1,4}))-((6553[0-5])|(655[0-2][0-9])|(65[0-4][0-9]{2})|(6[0-4][0-9]{3})|([1-5][0-9]{4})|([0-5]{0,5})|([0-9]{1,4}))$
                          type: string
                      type: object
                    type: array
                type: object
            type: object
          status:
            description: AttachDefinitionStatus defines the observed state of AttachDefinition
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
